* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
}
header {
	background-color: #333;
	color: #f68c8c;
	padding: 1rem;
}
header h1 {
    background-color: #333;
	margin: 0;
	font-size: 2rem;
}
main {
	flex: 1;
	display: flex;
	flex-direction: row;
}
section {
	flex: 1;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}
section h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
footer {
	background-color: #545454;
	color: #fff;
	padding: 0.5rem;
	text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}
button {
    border: 0px solid;
    color: rgb(0, 0, 0);
    background-color: #dcdcdc;
}
button:hover {
    color: rgb(255, 255, 255);
    background-color: #333;
}
#my_navbar{
    background-color: #545454;
}

.navbar-brand {
    font-size: 25px;
}

.CodeMirror {
    border-radius: 10px;
    height: 70vh !important;
}

.result-textarea {
    height: 70vh !important;
    resize: none;
    background-color: #f5f5f5 !important;
}

.form-floating textarea {
    padding-top: 1% !important;
}

/* CodeMirror-Theme */
.cm-s-juejin.CodeMirror {
    background: #f5f5f5;
  }
  .cm-s-juejin .cm-header { 
    color: #d200c0; 
  }
  .cm-s-juejin .cm-def {
    color: #1ba2f0;
  }
  .cm-s-juejin .cm-comment {
    color: #009e9d;
  }
  .cm-s-juejin .cm-quote,
  .cm-s-juejin .cm-link,
  .cm-s-juejin .cm-strong,
  .cm-s-juejin .cm-attribute {
    color: #fd7741;
  }
  .cm-s-juejin .cm-url,
  .cm-s-juejin .cm-keyword,
  .cm-s-juejin .cm-builtin {
    color: #bb51b8;
  }
  .cm-s-juejin .cm-hr {
    color: #909090;
  }
  .cm-s-juejin .cm-tag {
    color: #107000;
  }
  .cm-s-juejin .cm-variable-2 {
    color: #0050a0;
  }
  .cm-s-juejin span.cm-string {
    color: #0a7800; 
  }
  
